{:paths ["src" "resources" "."]
 :deps {io.github.babashka/deps-deploy {:mvn/version "0.0.1"}
        ;; purely for dev purposes:
        io.github.noahtheduke/lazytest {:mvn/version "2.1.0"}}
 :tasks
 {:requires [build]

  test {:doc "Run the test suite."
        :exec-fn build/run-tests}

  test:jolt {:doc "Run the test suite on Jolt."
             :exec-fn build/jolt-tests}

  test:bb {:doc "Run the test suite on Babashka."
           :extra-paths ["test"]
           :exec-fn lazytest.main/run-impl}

  test:all {:doc "Run all tests for different Clojure versions."
            :exec-fn build/run-tests
            :exec-args {:all-versions true}}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test:bb test:jolt test:all]
      :exec-fn build/jar}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :exec-fn build/deploy}}}
