{:paths ["src" "resources" "."]
 :deps {io.github.babashka/deps-deploy {:mvn/version "0.0.1"}
        ;; purely for dev purposes:
        io.github.noahtheduke/lazytest {:mvn/version "2.1.0"}}
 :tasks
 {:requires [build
             [clojure.string :as str]]

  -parse-args {:task
               (let [all?     (some #{"all"} *command-line-args*)
                     versions (or (seq (filter (fn [v] (str/starts-with? v "1."))
                                               *command-line-args*))
                                  ["1.10"])]
                 (if all? ["1.10" "1.11" "1.12" "1.13"] versions))}

  test {:doc "Run the test suite."
        :task
        (let [versions (run '-parse-args)]
          (doseq [v versions]
            (println "\nTesting Clojure" v)
            (shell (str "clojure -M"
                        (str ":" v)
                        ":dev:optional:test:runner"))))}

  test:bb {:extra-paths ["test"]
           :task ((requiring-resolve 'lazytest.main/run) [])}

  test:all {:doc "Run all tests for different Clojure versions and ClojureScript"
            :task (binding [*command-line-args* (conj *command-line-args* "all")]
                    (run 'test))}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test:bb test:all]
      :exec-fn build/jar}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :exec-fn build/deploy}}}
