{:paths ["src"]
 :tasks
 {:requires [[clojure.string :as str]]

  -parse-args {:task
               (let [all?     (some #{"all"} *command-line-args*)
                     versions (or (seq (filter (fn [v] (str/starts-with? v "1."))
                                               *command-line-args*))
                                  ["1.10"])]
                 (if all? ["1.10" "1.11" "1.12"] versions))}

  test {:doc "Run the test suite."
        :task
        (let [versions (run '-parse-args)]
          (doseq [v versions]
            (println "\nTesting Clojure" v)
            (shell (str "clojure -M"
                        (str ":" v)
                        ":dev:test:runner"))))}

  ;; not sure if we can get this to work with bb?
  test:bb {:extra-paths ["dev" "test"]
           :extra-deps  {io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}
                         nrepl/nrepl {:mvn/version "1.7.0"}}
           :task lazytest.main/-main}

  test:all {:doc "Run all tests for different Clojure versions and ClojureScript"
            :task (binding [*command-line-args* (conj *command-line-args* "all")]
                    (run 'test))}

  -snapshot {:doc "Return snapshot options, if requested."
             :task (->> (if (some #{"snapshot"} *command-line-args*)
                          [:snapshot true]
                          [])
                        (map str))}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [#_test:bb test:all]
      :task (apply shell "clojure -T:build jar" (run '-snapshot))}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :task (apply shell "clojure -T:build deploy" (run '-snapshot))}}}
