{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:optional
  {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0" :optional true}}}

  :dev
  {:extra-paths ["dev"]}

  ;; versions to test against:
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.5"}}}
  :1.13 {:override-deps {org.clojure/clojure {:mvn/version "1.13.0-alpha6"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.noahtheduke/lazytest {:mvn/version "2.0.0"}}}

  :runner
  {:main-opts   ["-m" "lazytest.main"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}
                 slipset/deps-deploy {:mvn/version "0.2.5"}}
          :ns-default build}}}
